/************************************************
Commenting CSS files is weird to me. But here****
it goes. Most of it is self-explanatory, but*****
I'll comment on any of the rather important******
or hard to follow sections***********************
************************************************/


/**************************
********General CSS********
**************************/
html, body {
background-color:black;
overflow: hidden;
height:100%;
}

#main-content {
height:100%;
overflow:hidden;
}

.panel {
height:100%;
position:relative;
overflow:hidden;
}


/*************************
********Clock CSS*********
*************************/

#clock{
position:relative;
height: auto;
width:50%;
margin:0 auto;
border-radius:50%;
padding-bottom:50%;
overflow:hidden;
background-color: hsl(0,0%,90%);
box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, 
inset hsla(0,0%,15%, .8) 0 -1px 5px 4px,
inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,
inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 
hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 
hsla(0,0%,100%,.5) 0  5px 6px 4px; 
background-image:url("/images/watch1.jpg");
background-size:cover;
-webkit-transition: all 1s;
transition: 1s all;
}

#innerclock{
position:absolute;
height:80%;
width:80%;
border-radius:50%;
overflow:hidden;
margin:auto auto;
top:0;
bottom:0;
right:0;
left:0;
background-color: hsl(0,0%,90%);
background-color: transparent;
}

#base {
position:absolute;
height:5%;
width:5%;
border-radius:50%;
overflow:hidden;
margin:auto auto;
top:0;
bottom:0;
right:0;
left:0;
background-color: #063477;
z-index:2;
}

#base-center {
position:absolute;
height:30%;
width:30%;
border-radius:50%;
overflow:hidden;
margin:auto auto;
top:0;
bottom:0;
right:0;
left:0;
background-color: hsl(0,0%,90%);
z-index:2;
}

/************************
********Hand CSS*********
************************/
.hand {
width: 2px;
height: 100%;
position:absolute;
margin:auto;
right:0;
left:0;
bottom:0;
top:0;
-webkit-transition: -webkit-transform 1s;
transition: transform 1s;
}

#hour-hand {
	width:5px;
	height:50%;
}

#minute-hand {
	width:2px;
	height:70%;
}

#second-hand {
	width:1px;
	height:70%;
}

.hand-fill {
height:50%;
background-color:#063477;
}

/********************************************************************************
Tick specific CSS. This section handles the ticks specifically. *****************
The top and bottom ends are the actual ticks and putting them together***********
in one div allows for minimal clutter. Yayyyy optimization.**********************
********************************************************************************/
.time-tick{
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
height:86%;
width:2px;
background-color:transparent;
color:white;
}

.time-tick .ends {
background-color:#A0A0A0;
}

.main-tick .ends {
background-color: #063477;
}

.main-tick{
width:3px;
background-color:transparent;
height:90%;
}

.ends {
height:7.5%;
width:100%;
position:absolute;
}

.top-end {
top:0;
}

.bottom-end {
bottom:0;
}


#oneseven{
-ms-transform: rotate(30deg); /* IE 9 */
-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
transform: rotate(30deg);
}



#twoeight{
-ms-transform: rotate(60deg); /* IE 9 */
-webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
transform: rotate(60deg);
}

#threenine{
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
transform: rotate(90deg);
}

#fourten{
-ms-transform: rotate(120deg); /* IE 9 */
-webkit-transform: rotate(120deg); /* Chrome, Safari, Opera */
transform: rotate(120deg);
}

#fiveeleven{
-ms-transform: rotate(150deg); /* IE 9 */
-webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
transform: rotate(150deg);
}


/*******************
****Sparkle CSS*****
*******************/
.sparkle {
width:0px;
overflow:hidden;
height:0px;
background-color:#AFEEEE;
position:absolute;
-webkit-transition: height 1s, width 1s, -webkit-transform 1s;
transition: 1s height, width 1s, transform 1s;
}

.top { top: -3px; }
.bottom { bottom: -3px; }
.left { left: -3px; }
.right { right: -3px; }

.top, .bottom {
border-radius:2px;
background-color: black;
height:5px;
width:5px;
position:absolute;
}

.active {
height:5px;
width:5px;
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
transform: rotate(180deg);
}
